<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="card-header">
      <tr>
        <th scope="col">Gráfica de precios (promedio) por destino:</th>
      </tr>
    </div>
    <tbody>
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </tbody>
    <div class="card-body"></div>
  </div>
</div>

<!--Grid column-->
<div class="col-lg-3 col-md-10 mb-3">
  <table
    class="table table-striped table-dark table-bordered table-hover table-sm"
  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Destinos TOP:</th>
      </tr>
      <tr>
        <th scope="col">Destinos</th>
        <th scope="col">Cant. ventas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pcantv of PaqueteCantPersonas">
        <p *ngIf="pcantv.cantidad_ventas > 3">
          <td>{{ pcantv.nombre }}</td>
          <td>{{ pcantv.cantidad_ventas }}</td>
        </p>
      </tr>
    </tbody>
  </table>
</div>
